#a{
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}
body{
  overflow: hidden;
  margin:0;
}
#b{
  float: left;
  margin-left: 50%;
  top: 0px;
  position: fixed;
  width: 50%;
}
#m{
  height: 200px;
  width: 75%;
}
#x progress, #x meter{
	margin-right: 10px;
}
